body {
    padding-bottom: 20px;
}

.navbar {
margin-bottom: 20px;
}

.product-name{
    color: #ff6b81;
}

.product-name:hover{
    color: #ff4757;
}

.product{
    background: #dfe4ea;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-right{
    text-align: right;
}

.toggle:target { display: table-row; }

#PageFragment li{
    padding: 0;
    width: 30px;
    height: 28px;
    margin: 0 1px;
}